body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-image: linear-gradient(to top, #53337A, #FFB74D, #F78DA7);
}

}

header {
  text-align: center;
  color: blue;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

main {
  line-height: 1.5;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin-top: 20px;
}
